!!! 5
%html
  %head
    %title SimpleChat
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}
    %meta{:name=>"viewport", :content=>"width=device-width, user-scalable=0;"}
    %script{:type=>"text/javascript",:src=>"jquery-2.0.3.min.js"}
    %script{:type=>"text/javascript",:src=>"bootstrap/js/bootstrap.js"}
    %script{:type=>"text/javascript",:src=>"angular.min.js"}
    %link{:rel=>"stylesheet", :href=>"bootstrap/css/bootstrap.min.css"}
    %link{:rel=>"stylesheet", :href=>"bootstrap/css/bootstrap-responsive.css"}
    %link{:rel=>"shortcut icon", :type => "vnd.microsoft.icon", :href => "favicon.ico"}
  %body{"ng-app"=>"",:style=>"font-size:100%;"}
    .container-flued{"ng-controller"=>"chatCtrl"}
      %div{:style=>"width:240;"}
        %span{:style=>"text-align:center;font-size:92%;"}
          -#%a{:href=>"http://chat.reponlabo.info/chat.html",:target=>"_blank"}
          %a{:href=>"http://reponlabo.info/chat/chat.html",:target=>"_blank"}
            %button.btn-mini
              %i{:class=>"icon-circle-arrow-right"}
              スマートフォン、PC用はこちら
      %h1 SimpleChat
      .span3{"ng-init"=>"init()"}
        .span3{:style=>"width:240;height:auto;"}
          /発言
          %div
            %input{:type=>"text","ng-model"=>"name",:size=>"10",:placeholder=>"名前"}
          %div
            %textarea{"ng-model"=>"comment",:rows=>"3",:placeholder=>"書き込む……"}
          %div
            {{140-comment.length}}
            %span{:class=>"pull-right"}
              %button.btn
                %a{:href=>"","ng-click"=>"postComment()"}
                  %i{:class=>"icon-pencil"}
                  書き込む

          %div
            %button.btn-mini
              %a{:href=>"","ng-click"=>"trash=!trash"}
                %i{:class=>"icon-trash"}
                表示/非表示
        .span3
          %div
            /新規データが読み込まれたら、未読数を表示する
            /自分が書き込んだ場合にはどうするか？
            %div{"ng-show"=>"unreadlogsize>0",:style=>"text-align: center;"}
              %a{:href=>"","ng-click"=>"showunread()"}
                {{unreadlogsize}} 件の未読
            %div{"ng-repeat"=>"user in users","ng-controller"=>"updelPost"}
              %div{"ng-show"=>"trash",:class=>"pull-right"}
                %a{:href=>"","ng-click"=>"adddelflag()"}
                  .button.btn-mini
                    .i{:class=>"icon-trash"}
              %div
                %span{:style=>"font-size:100%;",:class=>"text-info"}  {{user.member}}
                %span{:style=>"font-size:75%;",:class=>"text-success pull-right"}  {{user.create_at}}
              %div{:style=>"margin:5px 10px 20px 10px;font-size:80%"}
                {{user.data}}
            %div{:class=>"text-success"}
              {{end}}
            %div{:style=>"text-align:center;"}
              %a{:href=>"","ng-click"=>"readmore()"}
                %button.btn
                  %i{:class=>"icon-chevron-right"}
                  もっと読む

    %script{:type=>"text/javascript",:src=>"chat.js"}