!!!5
%html
  %head
  %body
    -#%iframe{:src=>"http://chat.reponlabo.info/chatiframe.html",:width=>"260",:height=>"800","seamless"=>""}
    %iframe{:src=>"http://reponlabo.info/chat/chatiframe.html",:width=>"260",:height=>"800","seamless"=>""}